
@font-face {
    font-family: "load";
    src: url(http://www.nonmateria.com/data/Inconsolata-Regular.ttf) format("truetype");}

body {
    background-color: black;
    color: #ccc;
    font-family: 'load', 'Inconsolata', monospace; 
    font-size: 21px;
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
}

.caption { font-size: 16px; }

@media only screen and (max-width:1050px){ 
	body {font-size: 14px;}
	.caption { font-size: 10px; }
}

header { 
	margin: 20px auto 20px;
    padding: 4px 0px 8px;
   	text-align: center;
    max-width: 720px;
    border: solid 1px #303030;
}

section{
	margin: 10px auto 20px;
	background-color: #101010;
    padding: 15px 10px 15px;
    max-width: 720px;
}

footer{
	margin: 0 auto 25px;
    padding: 4px 0px 8px;
   	text-align: center;
    max-width: 620px;
    border: solid 1px #303030;
}

ul { 
    display: block;
    list-style-type: square;
    padding-left: 20px;
}

.pixelated { image-rendering: -moz-crisp-edges; }
.pixelated { image-rendering: pixelated; }

video {  outline: none; }

img { width:100%; height:100%; }
video { width:100%; height:100%; }

a:link, a:visited, a:active{ color: #fff; }
a:hover, .headerblock a:hover, .thumb a:hover{ color: #f11; }

.center { margin: 0 auto; }

code, pre {
	background-color: #303030;
	white-space: pre-wrap; 
    font-size: 21px;
}

hr{
	margin-top: 30px;
	margin-bottom: 60px;
}