<video width="100%" preload="metadata" controls loop poster="SITEROOTPATH/data/devlog/2023/20230422_pulse_codex_orca_thumb.jpg">
    <source src="SITEROOTPATH/data/devlog/2023/20230422_pulse_codex_orca.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<br>
pulso codex EP soundtrack wip<br>
demo link : <a href="https://nonmateria.itch.io/pulse-codex-demo">itch.io</a> | <a href="https://store.steampowered.com/app/2229320">steam</a>
<br>