<video width="100%" preload="metadata" controls loop poster="SITEROOTPATH/data/devlog/2023/20230414_pulse_codex_sketching_thumb.jpg">
    <source src="SITEROOTPATH/data/devlog/2023/20230414_pulse_codex_sketching.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<br>
pulso codex EP wip : graphics sketching<br>
demo link : <a href="https://nonmateria.itch.io/pulse-codex-demo"> https://nonmateria.itch.io/pulse-codex-demo</a>
<br>