
<a href="SITEROOTPATH/data/devlog/2024/fundamentals.png">
<img src="SITEROOTPATH/data/devlog/2024/fundamentals.png" loading="lazy"></a>
<span class="caption">exercises and studies</span>
<br>

<p>In July and August i mostly suffered the hot weather while improving my art fundamentals: drawing cubes, cylinders, stuff in perspective, gesture drawing, all the usual beginner stuff, so there's not that much to see.</p>

<p> While i study to put my art skill on the level with my coding and music there won't that much to see, so this devlog will now be indefinitely on hiatus, for following me on other places check the <a href="follow.html">"follow"</a> page </p>

