
<a href="SITEROOTPATH/data/devlog/2024/top_template.png">
<img src="SITEROOTPATH/data/devlog/2024/top_template.png" loading="lazy"></a>
<span class="caption">top down map template</span>
<br>
<br>
<a href="SITEROOTPATH/data/devlog/2024/side_template.png">
<img src="SITEROOTPATH/data/devlog/2024/side_template.png" loading="lazy"></a>
<span class="caption">side platformer map template</span>
<br>

<p>In April the work on gamedev was mostly slow, as i'm putting a lot of time on improving my art fundamentals. I've just taken the previous maps and built two aseprite / tiled map template from that to use a starting point.</p>

<p>For improving my drawing skill (and hopefully my pixel art) I've studied a bit of lessons from <a href="https://drawabox.com/">drawabox</a>. In the past months I got up to lesson 3 ( including drawing 250 boxes ) and now trying other resources, expecially Marc Brunet videos on <a href="https://www.youtube.com/@YTartschool/videos">youtube</a>. I've seen some improvement but there's still a lot of work to do ( leading to probably more months with less coding and few things to show ).</p>
