
<video width="100%" preload="metadata" controls loop poster="SITEROOTPATH/data/devlog/2024/tile_engine_top_thumb.jpg">
    <source src="SITEROOTPATH/data/devlog/2024/tile_engine_top.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<span class="caption">bitmap brothery tiles and creamy clouds</span>
<br>
<p>In march i worked on making a top down character controller and tileset. I've also refactored and cleaned the existing codebase.</p>
<br>
<div style="text-align:center">
--------technical--stuff--ahead--tear--along--the--dotted--line--------</div><br>
<p>The feature added to the engine i'm building with <a href="https://www.love2d.org/">love2d</a> are:
<ul>
<li>Correct rendering of top down rectangular tiles. The engine physics is based on square tiles but the graphics are rendered with the tileset ratio.</li>
<li>Top down character controller, with featuring dashing and some tweaks for automatically navigating around near corners. Different tipes of working walls and stairs.</li>
<li>Refactoring for both the top down and platformer avatar, functionality divided between a movement controller and an animation component.</li>
<li>More refactoring and cleaning.</li>
</ul>
</p>

<p>I also researched a bit for a good workflow for animating sprites, this time i used as reference an animation downloaded from <a href="https://www.mixamo.com/#/?page=1&type=Motion%2CMotionPack">Mixamo</a> and rendered by Blender:</p>
<div class="center" style="width:70%">
<a href="SITEROOTPATH/data/devlog/2024/blender_runs_wip.png">
<img src="SITEROOTPATH/data/devlog/2024/blender_runs_wip.png"" loading="lazy"></a><br>
<span class="caption">blender can render 3d models in orthographic projection instad of using perspetive</span>
</div>
<br>
<br>
<div class="center" style="width:192px">
<a href="SITEROOTPATH/data/devlog/2024/top_base_run_wip.gif">
<img src="SITEROOTPATH/data/devlog/2024/top_base_run_wip.gif" loading="lazy"></a>
</div>
<div class="center" style="width:70%">
<span class="caption">i always animate the skeleton moving before putting it in place, making it travel a constant amount of pixels ( 4px here )</span>
</div>
<br>
</p>
<p>
I've also scrapped a good amount of stuff, here it is the first character / tile design, the tiles were ispired by Ricardo Bofill's <a href="https://www.archdaily.com/332438/ad-classics-la-muralla-roja-ricardo-bofill">Muralla Roja</a> :
<br>
<div class="center" style="width:70%">
<a href="SITEROOTPATH/data/devlog/2024/red_halls_wip.png">
<img src="SITEROOTPATH/data/devlog/2024/red_halls_wip.png" loading="lazy"></a></div>
<div class="center" style="width:70%">
<span class="caption">level editing with TileD</span>
</div>
</p>