
<a href="SITEROOTPATH/data/devlog/2024/zona_warpa.jpg">
<img src="SITEROOTPATH/data/devlog/2024/zona_warpa.jpg" loading="lazy"></a>
<span class="caption">no picture was fair to all the fun, so here it is the screenshot of a blurry video of people playing games at Bread & Roses ( with Kenobit as live soundtrack! )</span>
<br>

<p>In May I mostly put my time in touring with <a href="https://zonawarpa.it">Zona Warpa</a>, and indipendent videogame festival and temporary arcade. We reached various (mostly squatted) places in Italy: </p>
<ul>
<li>Bisaboga, Marzabotto (BO)</li>
<li>CSOA Forte Prenestino, Roma</li>
<li>Case Matte, L'Aquila</li>
<li>Bread & Roses, Bari</li>
</ul>

<p> It was a blast, with workshops, talks and live music, and also a good selection of indie and retro games on our machines. You can check it out (in italian) on the <a href="https://zonawarpa.it/">website</a> and on <a href="https://video.zonawarpa.it/">peertube</a>.</p>

<p>... or set up your machines with coop games and emulators and bring them to a local underground (electronic?) music gig!</p>

