
<video width="100%" preload="metadata" controls loop poster="SITEROOTPATH/data/devlog/2024/tile_engine_fhd_thumb.jpg">
    <source src="SITEROOTPATH/data/devlog/2024/tile_engine_fhd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<span class="caption">small tile engine demo, everything still a bit rough</span>
<br>
<p>In december and january i started coding a small "engine" for rapidly making some 2d games. It's made for making tile-based pixel art games, loading maps made with the <a href="https://www.mapeditor.org/">TileD</a> editor. I made some tiles and animations with <a href="https://www.aseprite.org/">aseprite</a>, but it's still everything rough to get fast with the workflow.<br>
I also started making some studies to improve my skills at pixel art, they have a page <a href="pixel_studies.html">here</a>.</p>
<br>
<div style="text-align:center">
--------technical--stuff--ahead--tear--along--the--dotted--line--------</div>
<br>
<p>The engine is made with <a href="https://www.love2d.org/">love2d</a>, loading TileD maps exported to lua. After fully coding <a href="pulse_codex_ep.html">a game</a> in c, I found coding in lua really comfortable, it's a language built around a very flexible table container, and luaJIT is fast. This <a href="https://github.com/kikito/love-tile-tutorial/wiki">tutorial</a> helped me to both refresh my lua and swiftly learn love2d.</p>
<p>For now the "engine" feature:
<ul>
<li>Rendering tilemaps from the .lua level file, including mirrored or animated tiles (<a href="https://love2d.org/wiki/Tutorial:Efficient_Tile-based_Scrolling">this tutorial</a> was very helpful to understand how to use tilesets in love2d).</li>
<li>Rendering image layers from the .lua level file with parallax scrolling.</li>
<li>Basic collisions, built around the <a href="https://github.com/vrld/HC">HC</a> love2d library.</li><li>a character controller code suitable for an action-platformer, the jump code is based on <a href="https://www.gdcvault.com/play/1023559/Math-for-Game-Programmers-Building">this GDC talk</a> (still a bit glitchy).</li>
<li>Already tested simple bullets and entities.</li>
<li>Pathfinding built around the <a href="https://github.com/Yonaba/Jumper">jumper</a> library and <a href="https://deepnight.net/tutorial/bresenham-magic-raycasting-line-of-sight-pathfinding/">raycasting with the Bresenham algorithm</a>.</li>
<li>A dialog module, also retrofitted to manage simple menus.</li>
<li>A module to draw strings with some fancy fx (based on input characters), obviusly ispired by <a href="http://www.make.bitsy.org/">bitsy</a> games.</li>
<li>Rectangle areas that can trigger camera change or a dialog section, camera can be set to fixed or dynamic indipendently for x and y axis, camera movement is smoothed with a settable amount. Leaving the area exit the dialog, even though each line can be set to exclusively catch the input (for forcing the player to choose an option or to listen everything).
</ul>
</p>

<p>
<div class="center" style="width:70%">
<a href="SITEROOTPATH/data/devlog/2024/tilanesi.png">
<img src="SITEROOTPATH/data/devlog/2024/tilanesi.png"" loading="lazy"></a><br>
<span class="caption">making the tileset</span>
<br>
<br>
<a href="SITEROOTPATH/data/devlog/2024/tiled1.png">
<img src="SITEROOTPATH/data/devlog/2024/tiled1.png" loading="lazy"></a><br>
<span class="caption">working on the TileD map for the demo</span>
</div>
</p>

<p>
There is still some work to do (audio code, gamepad support, level loading/switching, configurable settings, etc) but it could be ready for some game jams soon.
</p>