
<div class="center" style="width:540px">
<video width="100%" preload="metadata" controls loop poster="SITEROOTPATH/data/devlog/2024/stg_fhd_thumb.jpg">
    <source src="SITEROOTPATH/data/devlog/2024/stg_fhd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<span class="caption">a bare minimum vertical stg prototype, the ship slows down when shooting</span>
</div>
<br>
<p>In June i worked on some more code to make my 2d tile engine work for horizontal and vertical scrolling shooters ( also called STGs or "shmups" ).  
<br>
<br>
<div style="text-align:center">
--------technical--stuff--ahead--tear--along--the--dotted--line--------</div>
<p>
<div class="center" style="width:70%">
<a href="SITEROOTPATH/data/devlog/2024/stg_tiled.png">
<img src="SITEROOTPATH/data/devlog/2024/stg_tiled.png" loading="lazy"></a><br>
<span class="caption">working on the TileD map for the demo</span>
</div>
</p>

<p>Features added to the engine or boilerplate classes:
<ul>
<li>render with camera autoscroll, now render works on a lower resolution canvas.</li>
<li>STG avatar that autoscrolls with camera.</li>
<li>RailMovement compoment for entities using TileD polylines or polygons, featuring:
<ul>
	<li>movement in tiles per second or polyline nodes per second.</li>
	<li>optional easing for movement between nodes.</li>
	<li>optional smoothing of the polyline with <a href="https://qroph.github.io/2018/07/30/smooth-paths-using-catmull-rom-splines.html">catmul rom splines</a>, with settable alpha and tension.</li>
</ul>
<li>entity cloning with variable x,y offset or offset in points of the polyline.</li>
<li>easing.lua class with a compilation of easing methods, mostly from <a href="https://easings.net/">easings.net</a>.</li>
<li>loader.lua is now coroutine based, and I also used coroutines for entities behavior. (check out <a href="https://www.love2d.org/forums/viewtopic.php?t=36853">this thread</a> about coroutines!)</li>
</ul>
</p>
<p>All of this and more minor fixes, and a lot of research about shmups ( some of it being very fun I must admit! ). 
</p>
