<section>
    <img  src="SITEROOTPATH/data/avatars/hat.png" >
    <br><br>
    Hi planewalker, i'm Nicola. <br>
    What do you wish to know? <br>

    <br>
    mail:
    <ul> 
    <li> nico [at] thiswebsiteurl </li>
    </ul>
	<br>
	
    on the fediverse
    <ul> 
    <li> <a href="https://merveilles.town/@nonmateria" rel="noopener noreferrer">@nonmateria@merveilles.town</a> </li>
    </ul>
	<br>
</section>
