<section>
<p> You can follow me on those channels 
<ul> 
	<li>the <a href="https://t.me/nonmateria">telegram channel</a>: updates about live dates and music releases</li>    
	<li>on the <a href="https://mastodon.gamedev.place/@nonmateria" rel="noopener noreferrer">fediverse</a> and <a href="https://bsky.app/profile/nonmateria.bsky.social">bluesky</a>: occasional work in progress notes and announcements</li>
	<li> <a href="https://www.youtube.com/@nonmateriadotcom ">youtube</a> : trailers and live footages</li> 
	<li> <a href="https://nonmateria.itch.io/">itch.io</a> and <a href="https://store.steampowered.com/developer/nonmateria">steam</a> : for checking all the released videogames</li> 
</ul>
</p>
</section>
