<section style="max-width:720px">

<p>I discovered not being very interested in new technology, so I decided to keep the tools i use for my creative works at the very bare minimum of what i already have and some second hand stuff.<br>
I consider this setup some kind of stable system i develop for, also knowing that if it works on these devices it can surely work on many more.</p>

<p> My workstation is an Asus Zenbook UX303LA. It's named "lazarus" as it <a href="SITEROOTPATH/data/extradoc/lazarus.jpg">died once</a>, due to a faulty design, and then resurrected. It has the low power version of the Intel i5 processor (4th gen) for a good balance between energy usage and processing power, with an integrated video card supporting openGL 3.3 (I love to code shaders).<br>
<br>
<a href="SITEROOTPATH/data/inventory/hq/workstation.jpg"  style="border-bottom:none"><img src="SITEROOTPATH/data/inventory/lofi/workstation.jpg" width="100%" loading="lazy"></a>
</p>

<p>My "recording studio" consisting of:
<ul>
    <li>EMF sniffer (thanks to <a href="https://www.peal.space">PEAL</a>)</li>
    <li>Sennheiser HD 4.20s</li>
    <li>Olympus LS-5</li>
    <li>NI Traktor Audio 2</li>
    <li>JBL Go v1</li>
    <li>Behringer Uphoria UMC404 (not pictured)</li>
    <li>And an occasional access to a decent pair of studio monitors</li>
</ul>
<br>
<a href="SITEROOTPATH/data/inventory/hq/recording_studio.jpg"  style="border-bottom:none"><img src="SITEROOTPATH/data/inventory/lofi/recording_studio.jpg" width="100%" loading="lazy"></a>
</p>


<p>For drawing I use:
<ul>
    <li>Uni Posca 0.7 mm white</li>
    <li>Uni Posca 0.7 mm black</li>
    <li>Tratto Marker (scalpel point)</li>
    <li>Faber-Castell brushpen</li>
</ul>
<br>
<a href="SITEROOTPATH/data/inventory/hq/ink.jpg"  style="border-bottom:none"><img src="SITEROOTPATH/data/inventory/lofi/ink.jpg" width="100%" loading="lazy"></a>
</p>

<p>Stuff not pictured here:
<ul>
	<li>A second hand Sony PS4 controller</li>
    <li>Sony Handycam camera (used to shoot most of the videos and pictures you can find here)</li>
    <li>Desk tripod (pictured <a href="SITEROOTPATH/posts/2019_02_11__orcamenti_II.html">here</a>), works both with cellphone, webcam, audio recorder and camera</li>
    <li>Trust HD Webcam (pictured with the tripod)</li>
    <li>A Lenovo Thinkpad T440 named "atlante" (my <a href="SITEROOTPATH/posts/2017_03_11__thinkpad.html">fallback</a> laptop)</li>
    <li>A nice 22 inch FHD monitor</li>
    <li>A good amount of cables, adapters, chargers</li>
    <li>A smartphone, also used as modem and sometimes as accelerometer <a href="SITEROOTPATH/posts/2017_09_14__graincube.html">sensor</a>  (I often think about getting rid of this)</li>
</ul></p>
</section>
