<section style="max-width:720px">
	<img src="SITEROOTPATH/data/general/banner25.png" loading="lazy">
	<p> Hello traveler, here you can find an archive of the many projects i have undertaken in the last years, and a lab full of tools i used to craft them.</p>
</section>

<section style="max-width:720px">
	<p>In the stores:
	<ul>
	<li><a href="pulse_codex_ep.html">Pulse Codex EP</a> is an experimental videogame / audiovisual composition</li>
    <li><a href="hexaglyphics.html">Hexaglyphics</a> is a digital noise instrument based on an invented hexadecimal alphabeth</li>
	</ul>
    </p>
</section>

<section style="max-width:720px">
	<p>I make music mostly by coding it:
	<ul>
    <li><a href="https://lightitem.bandcamp.com/album/nonmateria-com-zona-warpa">live @ zona warpa</a> for the Light Item label</li>
    <li><a href="https://beldamrecords.bandcamp.com/track/nonmateria-pomeriggio-umido">a track</a> in the <a href="https://beldamrecords.bandcamp.com/album/elmet-brae-the-land">Elmet Brae</a> compilation</li>
    <li>orca <a href="orca_demos.html">demo tracks</a></li>
    <li>first <a href="orca_experiments.html">orca experiments</a></li>
    <li><a href="cinque.html">artefatto::cinque</a> : junky music for little CRT display and relays</li>
    <li><a href="scrittura.html">scrittura::uno</a> : rhytms and soundscapes to hieroglyphics</li>
    <li><a href="jams.html">jams</a> made with custom coded interfaces or synths</li>
    </ul>
    </p>
</section>

<section style="max-width:720px">
	<p>Little games made for jams (itch.io links):
	<ul>
	<li><a href="https://nonmateria.itch.io/birdoro">birdoro</a> : pixel bird pomodoro timer</li>
	<li><a href="https://nonmateria.itch.io/600-mana-for-the-plague">600 mana for the plague</a> : Hypercard game for Merveilles Hyperjam</li>
	</ul>
	</p>
</section>

<section style="max-width:720px">
	<p>Pixel Art:
	<ul>
    <li>a gallery of pixel art <a href="pixel_studies.html">studies or sketches</a></li>
    </ul>
    </p>
</section>

<section style="max-width:720px">
	<p>Doodles and asemic writings:
	<ul>
    <li><a href="motore_immoto_1.html">motore immoto</a> #1 : the codex zine</li>
    <li><a href="inktober19.html">inktober 2019</a> bookmarks</li>
    <li><a href="centosigilli.html">centosigilli</a> : an asemic writing workshop</li>
    <li><a href="frammenti.html">frammenti</a> di un grimorio inesistente: first asemic writing notebook</li>
    </ul>
    </p>
</section>

<section style="max-width:720px">
    <p><a href="nm-samples.html">nm-samples</a>: an archive of the audio samples i've recorded in the past, left to the public domain</li>
</section>

<section style="max-width:720px">
	<p>
    I code and mantain some of my own tools and code snippets:
    <ul>
    <li><a href="https://codeberg.org/nonmateria/folderkit">folderkit</a> : 32 voices sampler companion for <a href="https://100r.co/site/orca.html">ORCA</a></li>
	<li><a href="https://codeberg.org/nonmateria/orca_structures">orca structures</a> : a collection of useful ORCA snippets</li>
    <li><a href="https://codeberg.org/nonmateria/nsketch">nsketch</a> : small creative coding playground, running on hot-reloaded Lua code</li>
    <li><a href="https://codeberg.org/nonmateria/scriptsuite">scriptsuite</a> : graphical tools scripted with nsketch</li>
    <li><a href="https://codeberg.org/nonmateria/rpiezos">rpiezos</a> : hardware and software to convert piezo sensor signals into OSC messages by using a raspberry pi and some DIY electronics</li>
    <li><a href="https://codeberg.org/nonmateria/gpiosc">gpiosc</a> : a program to control raspberry pi GPIO pins with incoming OSC messages</li>
    <li><a href="https://codeberg.org/nonmateria/etherdelta">etherdelta</a> : processing sketch to send android accelerometer data as OSC messages</li>
	<li><a href="https://github.com/npisanti?tab=repositories&q=ofx&type=&language=&sort=">openFrameworks</a> addons</li>
	<li><a href="https://codeberg.org/nonmateria/scrapbook">scrapbook</a> : a collection of code snippets and sketches</li>
    <li><a href="https://codeberg.org/nonmateria/nonde">nonde</a> : scripts and files to set up my linux (non)desktop environment</li>
    </ul>
    </p>

	<p>I'll keep some code-related cookbooks here:
    <ul>
    <li><a href="raylib_cc.html">raylib crosscompiling</a> : from linux to windows</li>
    <li><a href="imagemagick.html">imagemagick</a> : console commands for image file conversions</li>
    <li><a href="sox.html">sox</a> : console commands for audio files processing</li>
    </ul>
    </p>
	<p>Here i keep notes on various stuff:
    <ul>
    <li>on the <a href="design.html">design</a> of this website</li>
    </ul>
    </p>
</section>

<section style="max-width:720px">
	<p>For bug reports and friendly communications you can contact me <a href="contact.html">here</a>.</p>
</section>

<section style="max-width:720px">
    <p>This site used to be a blog, i get nostalgic everytime i enter the <a href="main/index.html">legacy version</a>.</p>
</section>

<section style="max-width:720px">
	<p>All the works in this archive are under the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a> License, unless another license is included (as for source code and the sample library).
	</p>

	<p> All the music is original unless differently stated, in which case all the rights are of the respective owners.
	</p>

	<p> DO NOT resell, mint or use to train AI models.</p>
</section>

<section style="max-width:720px">
	<p>This site is part of a webring: a collection of personal websites and wikis. Browse a <a href="https://lieu.cblgh.org/random">random page</a> or check the <a href="https://webring.xxiivv.com">full list</a>.
	</p>
</section>
