<!-- META>
og_thumb=journal/2020/cau_2021_q23s_thumb.png
<-->
<section style="max-width:1280px;">
Here are some demo tracks made with <a href="https://hundredrabbits.itch.io/orca">ORCA</a> and <a href="https://codeberg.org/nonmateria/folderkit">folderkit</a>.<br>
<br>
Also available as a <a href="https://www.youtube.com/playlist?list=PL4NCSpnMxlezACnFq9kM1hJ_sOip4olMC">youtube</a> playlist.
</section>

<section style="max-width:1280px;">
<video width="100%" preload="metadata" controls poster="SITEROOTPATH/data/videos/nonmateria_live_maul_sd_thumb.jpg">
    <source src="SITEROOTPATH/data/videos/nonmateria_live_maul_sd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<br>
live @ MAUL!<br>
<br>
( youtube <a href="https://youtu.be/rwh4BM3Strs">link</a> ) <br>
<br>
August 2022
</section>

<section style="max-width:1280px;">
<video width="100%" preload="metadata" controls poster="SITEROOTPATH/data/journal/2020/cau_2021_q23s_thumb.jpg">
    <source src="SITEROOTPATH/data/journal/2020/cau_2021_q23s.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<br>
&#x22;il difficile compito di recuperare la cauzione da chi pu&ograve; shiftare fase&#x22; (demo ver.)<br>
<br>
( youtube <a href="https://www.youtube.com/watch?v=N-loMUwFXqI">link</a> ) <br>
<br>
April 2020
</section>

<section style="max-width:1280px;">
<video width="100%" preload="metadata" controls poster="SITEROOTPATH/data/journal/2021/div_q25_thumb.jpg">
    <source src="SITEROOTPATH/data/journal/2021/div_q25.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<br>
&#x22;chi non paga la retta verr&agrave; divorato&#x22; (demo ver.)<br>
<br>
( youtube <a href="https://www.youtube.com/watch?v=vFNOE-2xNUk">link</a> ) <br>
</br>
March 2021 
</section>

<section style="max-width:1280px;">
<video width="100%" preload="metadata" controls poster="SITEROOTPATH/data/journal/2021/vol_q30_thumb.jpg">
    <source src="SITEROOTPATH/data/journal/2021/vol_q30.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<br>
la voltura da un altra timeline (demo ver.)<br>
<br>
( youtube <a href="https://youtu.be/CcK7V7s8HsI">link</a> ) <br>
<br>
May 2021
</section>

<section style="max-width:1280px;">
<video width="100%" preload="metadata" controls poster="SITEROOTPATH/data/journal/2021/tec_q15_thumb.jpg">
    <source src="SITEROOTPATH/data/journal/2021/tec_q15.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<br>
tecniche di interferenza (demo ver.)<br>
<br>
( youtube <a href="https://youtu.be/R7W9h2HjFAY">link</a> ) <br>
<br>
October 2021
</section>
