<!-- META>
og_thumb=pixels/alita_keytar_v2_1x.png
<-->

<section style="max-width:720px">

<br>
<div style = "width:560px" class="center">
<img src="SITEROOTPATH/data/pixels/tilda_4x_v2.png" loading="lazy">
<span class="caption">Tilda Swinton's character from Orbital's "The Box" music video (here on <a href="https://www.youtube.com/watch?v=qddG0iUSax4">youtube</a>), 4x render, original version <a href="SITEROOTPATH/data/pixels/tilda_1x_v2.png">here</a>, 140x140 pixels, 6 colors, Feb 2024</span>
</div>
<br>

<br>
<div style = "width:544px" class="center">
<img src="SITEROOTPATH/data/pixels/alita_keytar_v2_2x.png" loading="lazy">
<span class="caption">different stylization of alita playing the keyboard, reference from yukito kishiro, 2x render, original version <a href="SITEROOTPATH/data/pixels/alita_keytar_v2_4x.png">here</a>, 272x320 pixels, 5 colors, Jan 2024</span>
</div>
<br>

</section>
