<section style="max-width:960px">
<!-- META>
og_thumb=videos/pulse_codex_ep_trailer_thumb.jpg
<-->
<video width="100%" preload="metadata" controls loop poster="SITEROOTPATH/data/videos/pulse_codex_ep_trailer_thumb.jpg">
    <source src="SITEROOTPATH/data/videos/pulse_codex_ep_trailer.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 
<br>
<p>
Decode the control glyph and challenge strange entities in a short audiovisual composition / videogame hybrid.</p>
<p> Featuring:
<ul>
    <li>a blend of ink doodles, claymotion and shaders, rendered in crunchy 540p</li>
    <li>xenmodal microtuned music</li>
    <li>unusually obscure gameplay *</li>
    <li>15 pages of asemically written zine unlocked by various conditions</li>
    <li>Jukebox mode to enjoy watching the computer playing against itself</li>
    <li>2P Local Versus mode to challenge your friends</li>
    <li>2-3 hours of content</li>
</ul>
<br>
* interactive manual included!</p>

<p>
available on <a href="https://store.steampowered.com/app/2229320/Pulse_Codex_EP/">Steam</a> and <a href="https://nonmateria.itch.io/pulse-codex-ep">itch.io</a></p>
</section>